* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #dfdfdf;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

#root {
    background: #1F2235;
}
@media screen and (max-width: 2600px){
a {
    text-decoration: none;
    font-weight: 700;
}

h1 {
    font-size: 3em;
    margin: 30px 0;
}
.buttons{
    display: flex;
    
}
.link-btn{
    padding: 10px 35px;
background-color: #1F2235;
border: 2px solid #ff4a57;
outline: none;
margin: 40px 0px 20px 10px;
border-radius: 10px;
color: #fff;
text-transform: uppercase;
letter-spacing: 2px;
cursor: pointer;
}
.link-btn:hover{
    background-color: #ff4a57;
}
h2 {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.highlight {
    color: #ff4a57;
}

/* HEADER */

header {
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

header::before {
    content: "";
    background-color: #08090e;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: -1;
    opacity: 0.5;
}

nav {
    padding: 34px 50px 20px 50px;
    display: flex;
}

nav ul {
    margin-left: auto;
}

nav ul li {
    list-style: none;
    margin: 0 15px;
}

nav ul li a {
    padding: 4px 10px;
    font-size: 20px;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #ff4a57;
}

/* HOME */

#home {
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    background-color: #23263a;
}

.social-icon {
    display: flex;
}
.social-icon-i{
width: 50px;
height: 50px;
background: #1F2235;
padding: 13px;
border: 2px solid #ff4a57;
border-radius: 50%;
font-size: 20px;
text-align: center;
display: flex;
margin: 0 15px;
}
.social-icon-i i{
    
    color: #fff;
    font-weight: 500;
}
.social-icon-i:hover{
    background-color: #ff4a57;
}

.image-width {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.text-width p {
    font-size: 25px;
}

.text-width {
    flex-direction: column;
    display: flex;
    vertical-align: center;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-top: 150px;
    padding-left: 60px;
}

/* SERVICES */
#service-box{
    display: block;
   width: 80%;
    margin: 60px auto;
    padding: 60px 0;
}
#service-box div{
    text-align: center;
}
#service-box div p{
    font-size: 18px;
    margin-bottom: 25px;
}
#service{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 1em;
   

}
.box{
    background-color: #23263a;
    padding: 50px 30px;
   
}
.box h3{
    margin: 20px 0;
    font-size: 25px;
    font-weight: 700;
}
.box:hover{
    background-color: #ff4a57;
    color: #fff;
}
.box:hover i{
    color: white;
    transform: rotateY(360deg);
}
.box i{
    color: #ff4a57;
    margin-bottom: 25px;
    display: inline-block;
    transform: rotateY(0);
    transition: .8s linear;
   
}

/* ABOUT_SECTION */
#about{
    padding: 70px 20px;
    background-color: #23263a;
}
.about-text{
    text-align: center;
    margin-bottom: 30px;
}
.text-width1 h2{
    font-size: 2em;
    margin-bottom: 20px;
    color: #ff4a57;
}
.about-part{
    display: flex;
    justify-content: space-evenly;
}
.text-width1{
    padding-top: 120px;
    margin: 30px;
    margin-right: 50px;
    line-height: 1.25;
    font-weight: 700;
}
.about-text1{
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-gap: 20px;
}
.image-width1{
    padding-left: 30px;
}

#skills{
    padding: 100px;
    background-color: #1F2235;
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2235;
}
.blue{
  background-color: #23263a;
  width: 500px;
  height: 20px;
  margin: 30px 0;
  border-radius: 10px;

}
.pink{
    height: 20px;
    border-radius: 10px 0px 0px 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    background-color: #ff4a57;
}
.skills-bar p{
    border: 1.5px solid white;
    border-radius: 10px;
    padding: 10px;
    display: inline;
}
#blog-section{
    padding: 100px 0;
}
.blog{
   
    margin: 0 auto;
    width: 90%;
    background-color: #1F2235;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2em;
}
 .blog-part{
     border-radius: 10px;
     background-color: #23263a;
     box-shadow: 5px 5px 50px black;
 }
.blog-part img{
    border-radius: 10px 10px 0 0px;
    width: 100%;
}
.blog-content{
    padding: 30px 25px;
}
.blog-content h3{
    margin: 20px 0;
}
.blog-content a{
    color: #ff4a57;
}
.blog-content a:hover{
    color: white
}
.blog-content a:hover i{
    margin-left: 5px;
    background-color: white;
    color: #ff4a57;


}
.blog-content a i{
    margin-left: 10px;
    background-color: #ff4a57;
    border-radius: 50%;
    padding: 4px 6px;
}

.blog-text{
    text-align: center;
    padding: 0 60px;
    margin-bottom: 40px;
}
#contact-section{
    padding: 100px 0;
}
.contact-text{
    text-align: center;
    padding: 0 45px;
}

.contact-form{
    width: 80%;
    margin: 40px auto;
}
.contact-form input{
    height: 60px;
}

.contact-form input , .contact-form textarea{
    padding: 25px 20px;
    font-weight: 700;
    display: block;
    width: 100%;
    margin: 20px 10px;
    background-color: #23263a;
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    
}
.contact-form button{
    width: 100%;
}

footer{
    text-align: center;
    font-size: 15px;
}}

@media screen and (max-width: 600px){
    nav {
        display: inline;
        padding: 34px 30px;
        text-align: center;
    }
    nav ul li a{
        margin-top: 15px;
        font-size: 16px;
    }
}

@media screen and (max-width: 800px){
   
    #home{
        flex-direction: column;
        padding: 30px;
    }
    img{
        width: 70%;
        margin: auto;
        width: 100%;
    }
    #service{
      grid-template-columns:  1fr;
    }
    .about-part{
        flex-direction: column;
    }
    .about-text1{
        grid-template-columns: 1fr;
    }
    #skills{
        flex-direction: column;

    }
    .image-width{
        max-width: 100%;
    }
    .blue{
            width: 100%;
    }
    .blog{
        grid-template-columns: 1fr;
    }
    .skill-bar-content{
        margin-top: 50px;
        
    }
    .social-icon{
        display: flex;
    }
    .social-icon-i{
        width: 30px;
        height: 30px;
        font-size: 15px;
        padding: 7px;
    }
   
    .buttons{
        display: inline;
    }
    .link-btn{
        margin: 10px;
        padding: 8px 20px;
    }
    .text-width{
        max-width: 100%;
        padding: 50px 10px;
    }
}